/********************************************* GENERALES */

:root {
    --color-primario: #2B0D65;
    --color-secundario: #4A0F6F;
    --color-terciario: #650D1F;
    --color-claro: #ecf0f1;
    --color-oscuro: #34495e;
    --color-prueba1: #f1c40f;
    --color-prueba2: #e74c3c;
}

html {
    font-size: 62.5%;
    height: 100%;
}
body {
    font-family: "Arima", system-ui;
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-areas:
        "header"
        "galeria"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    background-color: var(--color-claro);
}
@media (min-width: 1199px) {
    body {
        grid-template-areas:
            "header galeria"
            "header galeria"
            "footer footer";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
    margin: 0;
}





/********************************************* HEADER */




.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primario);
    color: var(--color-claro);
}
.header p {
    font-size: 2rem;
    margin-bottom: 5rem;
}
.logo {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1rem;

    i {
        font-size: 8rem;
    }
    h1 {
        font-size: 4rem;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 824px) {
    .menu {
        flex-direction: row;
        gap: 4rem;
    }
}
@media (min-width: 1199px) {
    header {
        height: 100%;
    }
    .menu {
        flex-direction: column;
        height: 100%;
    }
}


/********************************************* GALERIA */
.galeria {
    grid-area: galeria;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.tarjeta {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.tarjeta button {
    position: absolute;
    bottom: 2rem;
    right: 8rem;
    background-color: var(--color-secundario);
    color: var(--color-claro);
    padding: 2rem 3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    z-index: 1000;
    opacity: 0;
}
.tarjeta:hover button {
    opacity: 1;
    transition: .7s ease;
    bottom: 2rem;
    right: 2rem;
}
.tarjeta:hover img {
    filter: grayscale(0%);
}
@media (min-width: 481px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 824px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1199px) {
    .tarjeta {
        height: 60vh;
    }
}



/********************************************* FOOTER */
.footer {
    grid-area: footer;
    background-color: var(--color-secundario);
    color: var(--color-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    gap: 1rem;
}
.social {
    display: flex;
    gap: 4rem;
    i {
        font-size: 3rem;
    }
}


